In [1]:
import pandas as pd
import numpy as np

In [2]:
us_accidents = pd.read_csv("C:/Users/Hobbs/OneDrive/Documents/SpartaHack2026/ShouldDrive_Spartahack11/US_Accidents_March23.csv")

In [3]:
us_accidents.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [6]:
michigan = us_accidents.loc[us_accidents['State'] == 'MI'].copy()

In [7]:
risk = ['Low', 'Medium', 'High']

conditions = [
    michigan['Severity'] == 1,
    michigan['Severity'].isin([2, 3]),
    michigan['Severity'] == 4
]

michigan['Risk'] = np.select(conditions, risk, default='Unknown')

In [8]:
michigan.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight', 'Risk'],
      dtype='object')

In [9]:
model_cols = [
    "Risk",
    "City",
    "State",
    "Zipcode",
    "Temperature(F)",
    "Wind_Chill(F)",
    "Humidity(%)",
    "Pressure(in)",
    "Visibility(mi)",
    "Wind_Direction",
    "Wind_Speed(mph)",
    "Precipitation(in)",
    "Weather_Condition",
    "Sunrise_Sunset"
]

michigan_model = michigan[model_cols].copy()

In [10]:
michigan_model = michigan_model.dropna()

In [11]:
michigan_model.describe(include = 'all')

,Risk,City,State,Zipcode,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Sunrise_Sunset
count,97315,97315,97315,97315,97315.000000,97315.000000,97315.000000,97315.000000,97315.000000,97315,97315.000000,97315.000000,97315,97315
unique,3,496,1,11538,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,68,2
top,Medium,Grand Rapids,MI,48507,NaN,NaN,NaN,NaN,NaN,W,NaN,NaN,Fair,Day
freq,91909,15607,97315,1851,NaN,NaN,NaN,NaN,NaN,9854,NaN,NaN,28831,62710
mean,NaN,NaN,NaN,NaN,47.284649,43.056608,71.474603,29.259221,8.082903,NaN,9.238104,0.006383,NaN,NaN
std,NaN,NaN,NaN,NaN,21.130868,25.184739,18.121675,0.351208,3.168320,NaN,5.352295,0.032206,NaN,NaN
min,NaN,NaN,NaN,NaN,-19.000000,-35.600000,5.000000,27.650000,0.000000,NaN,0.000000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,30.900000,23.000000,59.000000,29.040000,7.000000,NaN,6.000000,0.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,44.000000,40.000000,75.000000,29.210000,10.000000,NaN,9.000000,0.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,66.000000,66.000000,86.000000,29.420000,10.000000,NaN,13.000000,0.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,98.000000,98.000000,100.000000,31.100000,12.000000,NaN,38.000000,1.520000,NaN,NaN

In [15]:
michigan_model["Weather_Condition"].unique()

array(['Overcast', 'Light Rain', 'Light Snow', 'Light Drizzle', 'Snow',
       'Rain', 'Heavy Snow', 'Mostly Cloudy', 'Haze', 'Scattered Clouds',
       'Light Freezing Rain', 'Light Freezing Drizzle', 'Partly Cloudy',
       'Heavy Rain', 'Heavy Thunderstorms and Rain', 'Light Ice Pellets',
       'Fog', 'Light Rain Showers', 'Clear', 'Thunderstorms and Rain',
       'Light Thunderstorms and Rain', 'Fair', 'Cloudy', 'Patches of Fog',
       'Shallow Fog', 'Light Rain with Thunder', 'Thunder', 'T-Storm',
       'Heavy T-Storm', 'Showers in the Vicinity',
       'Partly Cloudy / Windy', 'Fair / Windy', 'Thunder in the Vicinity',
       'Rain / Windy', 'Cloudy / Windy', 'Mostly Cloudy / Windy',
       'Light Rain / Windy', 'Wintry Mix', 'Light Snow / Windy',
       'Haze / Windy', 'Blowing Snow / Windy', 'N/A Precipitation',
       'Sleet', 'Thunder / Wintry Mix', 'Mist', 'Drizzle',
       'Sleet / Windy', 'Snow / Windy', 'Heavy Rain / Windy',
       'Light Drizzle / Windy', 'T-Storm / Windy', 'Drizzle / Windy',
       'Thunder / Windy', 'Blowing Snow', 'Freezing Rain',
       'Light Snow and Sleet', 'Heavy T-Storm / Windy',
       'Light Rain Shower', 'Snow and Sleet', 'Heavy Drizzle',
       'Small Hail', 'Light Freezing Fog', 'Wintry Mix / Windy',
       'Light Freezing Rain / Windy', 'Snow and Sleet / Windy',
       'Freezing Rain / Windy', 'Heavy Snow / Windy', 'Light Sleet'],
      dtype=object)

In [17]:
w = michigan_model['Weather_Condition'].str.lower()

conditions = [
    w.str.contains('thunder|t-storm|hail'),
    w.str.contains('snow|sleet|ice|freezing|wintry'),
    w.str.contains('rain|drizzle|shower'),
    w.str.contains('fog|mist|haze'),
    w.str.contains('cloud|overcast'),
    w.str.contains('clear|fair')
]

choices = [
    'Storm',
    'Snow_Ice',
    'Rain',
    'Fog_Haze',
    'Cloudy',
    'Clear'
]

michigan_model['Weather_Simple'] = np.select(conditions, choices, default='Other')